<div class="container pt-3 pb-5">
  <div class="row mb-5 justify-content-center">
    <!--検索フォーム-->
    <%= render 'public/searches/search' %>
  </div>
  <div class="row">
    <!--左カラム-->
    <div class="col-md-2">
      <!--ジャンル一覧-->
      <%= render 'public/genres/genre-list', genres: @genres %>
    </div>
    <!--右のページ-->
    <div class="col-md-9 offset-md-1">
      <h2>Journal</h2><br>
      <!--一覧リストの部分テンプレート-->
      <%= render 'post_list', posts: @posts %>
      <!--ページネーション-->
      <%= paginate @posts %>
    </div>
  </div>
</div>