<div class="container pt-3 pb-5">
  <div class="row mb-5 justify-content-center">
    <!--検索フォーム-->
    <%= render 'public/searches/search' %>
  </div>
  <div class="row">
    <!--左カラム-->
    <div class="col-md-6">
      <h4>投稿一覧</h4><br>
      <!--一覧リストの部分テンプレート-->
      <%= render 'post_list', posts: @posts %>
    </div>
    <!--右のページ-->
    <div class="col-md-4 offset-md-1">
      <!--ジャンル一覧-->
      <h4>ジャンル一覧</h4>
      <% @genres.each do |genre| %><br>
      <%= link_to genre.name,  genre_path(genre.id) %>
      <% end %>
    </div>
  </div>
</div>