<div class="container py-5">
  <div class="row-md-4">
    <h3 class="pb-3">New Post</h3>

      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました。
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

    <div class="post-form">
    <%= render 'post_form', post: @post %>
    </div>
    <%= link_to 'Back', user_path(current_user.id) %>
  </div>
</div>