// Place all the styles related to the public/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿一覧の表示される画像のサイズ変更
.list_image {
  width: 120px;
  height: 80px;
  object-fit: cover;
}