// Place all the styles related to the public/notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notification_image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}