// Place all the styles related to the public/post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-form {
  margin-top: 50px;
}

.post-title {
  font-size: 20px;
}

.comments_area {
  margin-top: 10px;
}