<div class="container py-5">
  <div class="row">
    <!--左側のページ-->
    <div class="col-md-2">
      <button type="button" class="btn btn-warning rounded-circle p-0 top-btn", style="width:10rem;height:10rem;">
        <h2>Followers</h2>
      </button>
    </div>
    <!--右側のページ-->
    <div class="col-md-9 offset-md-1 py-4">
      <%= render 'follow_list', users: @users %>
    </div>
  </div>
</div>