<div class="container py-5">
  <div class="row">
    <!--左側のページ-->
    <div class="col-md-2">
      <button type="button" class="btn btn-info rounded-circle p-0 top-btn", style="width:10rem;height:10rem;">
        <h2>Followers</h2>
      </button>
    </div>
    <!--右側のページ-->
    <div class="col-md-9 offset-md-1 py-4">
      <% if current_user.followers.count > 0 %>
        <table class="table">
          <tr>
            <th></th>
            <th>name</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
          </tr>
          <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><%= user.name %></td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>