<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row pt-5 justify-content-center">
    <h1>Welcome to <i class="fas fa-paw"></i><strong> Cat Journal</strong></h1>
  </div>

  <div class="row py-5 justify-content-center">
    <%= link_to users_guest_sign_in_path, method: :post do %>
        <button type="button" class="btn btn-secondary rounded-circle p-0 top-btn", style="width:15rem;height:15rem;">
          <p>Guest Log in</p>
          <i class="fas fa-paw"></i><br><br>
          ゲストとしてログイン<br>(閲覧用)</button>
    <% end %>

    <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-info rounded-circle p-0 top-btn ", style="width:15rem;height:15rem;">
          <p>Sign up</p>
          <i class="fas fa-paw"></i><br><br>
          新規登録をする</button>
    <% end %>

    <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-success rounded-circle p-0 top-btn", style="width:15rem;height:15rem;">
          <p>Log in</p>
          <i class="fas fa-paw"></i><br><br>
          ログインする</button>
    <% end %>
  </div>
</div>
