<div class="image">
<%= image_tag user.get_profile_image, class: "notification_image" %>
</div>
<table class="table table-striped">
  <tr>
    <th>User</th>
  </tr>
  <tr>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
  </tr>
  <tr>
    <td><%= user.introduction %></td>
  </tr>
</table>