<div class="container py-5">
  <div class="row">
    <!--左カラム-->
    <div class="col-md-3">
      <%= render 'public/posts/post_new', post: @post %>
    </div>
    <!--右のページ-->
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>


<h4>マイページ</h4>